{% extends "basefront.html.twig" %}
{% block body %}
    <table class="table table-striped table-hover"> 
        <thead class="thead-dark">
            <tr>
                <!-- titre et bouttons pour trier-->
                <th scope="col">
                    Ville
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'ville', ordre:'ASC'}) }} role="button" aria-pressed="true"><</a>
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'ville', ordre:'DESC'}) }} role="button" aria-pressed="true">></a>
                </th>
                <th scope="col">
                    Pays
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'pays', ordre:'ASC'}) }} role="button" aria-pressed="true"><</a>
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'pays', ordre:'DESC'}) }} role="button" aria-pressed="true">></a>

                </th>
                <th scope="col">
                    Note
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'note', ordre:'ASC'}) }} role="button" aria-pressed="true"><</a>
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'note', ordre:'DESC'}) }} role="button" aria-pressed="true">></a>

                </th>
                <th scope="col">
                    Date
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'datecreation', ordre:'ASC'}) }} role="button" aria-pressed="true"><</a>
                    <a class="btn btn-primary btn-sm active" href={{ path('voyages.sort', {champ:'datecreation', ordre:'DESC'}) }} role="button" aria-pressed="true">></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            <a href="#">{{ visite.ville }}</a>
                        </h5>
                    </td>
                    <td>
                        {{ visite.pays }}
                    </td>
                    <!-- si la note >= 10, en vert. Sinon, en rouge-->
                    {% if visite.note >= 10 %}
                        <td class="text-success">{{ visite.note }}/20</td>
                    {% else %}
                        <td class="text-danger">{{ visite.note }}/20</td>
                    {% endif %}
                    <td>
                        {{ visite.getDatecreationString() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}